*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* COMMON */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    gap: 50px 10px;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3 - 7px);
    /* 7px e non 10px come da formula poiche dividendo è presente un resto  */
}

.content{
    width: 100%;
}


/* FLEXBOXING AND POSITIONING */

.d-flex{
    display: flex;
    gap: 0 5px;
}

.j-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.j-flex-end{
    justify-content: flex-end;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.position-heart{
    top: 20px;
    right: 0;
}

.position-discount{
    bottom: 20px;
    left: 0;
}
/* HEADER */

header{
    background-color: rgb(255, 123, 0);
    margin-bottom: 50px;
}

.height-30{
    height: 30px;
}
/* MAIN */

.product{
    width: 100%;
}

.info{
    width: 100%;
}

main img{
    width: 100%;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

.product:hover .hidden{
    display: block;
}

.product:hover .show{
    display: none;
}
/* FONT DECORATION */

.td-none{
    text-decoration: none;
}

.fc-white{
    color: white;
}

.fs-middle{
    font-size: 25px;
}

.fc-red{
    color: red;
}

.fs-small{
    font-size: small;
}

.fs-large{
    font-size: large;
}
.fw-600{
    font-weight: 600;
}



.padding-y-20{
    padding: 20px 0;
}

.padding-20{
    padding: 20px ;
}

.padding-discount{
    padding: 5px 10px;
}
/* BACKGROUND */

.bg-white{
    background-color: white;
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}