*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    gap: 20px 10px;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3 - 10px);
}

.content{
    width: 100%;
}

.height-30{
    height: 30px;
}

.d-flex{
    display: flex;
}

.j-center{
    justify-content: center;
}
.j-flex-end{
    justify-content: flex-end;
}
/* HEADER */

header{
    background-color: rgb(255, 123, 0);
    
}

/* MAIN */

.product{
    width: 100%;
}

.info{
    width: 100%;
}

main img{
    width: 100%;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

.product:hover .hidden{
    display: block;
}

.product:hover .show{
    display: none;
}
/* FONT DECORATION */

.td-none{
    text-decoration: none;
}

.fc-white{
    color: white;
}

.padding-y-20{
    padding: 20px 0;
}